@charset "UTF-8";
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #444444;
  margin: 0;
  padding: 0;
}
#logo {
  float: left;
  margin: 20px 0 0 20px;
}
#menus {
  float: right;
}
#top_menu {
  text-align: right;
  margin-top: 20px;
}
#main_menu {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.board_wrap {
  width: 1200px;
}

.board-title-searchbar-wrapper {
  display: flex;
  flex-direction: column;
}

.board_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board_title strong {
  font-size: 3rem;
  top: 20px;
  margin: 0 0 5px 0;
}

.board-page-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board_list {
  width: 100%;
  border: solid 5px #f0f0f0;
  border-radius: 20px;
  margin: 37px 0 30px 0;
}
.top {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0;
  font-weight: 600;
}

.checkpw {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 50px auto;/*위 우 아래 좌*/
}

.myinfo, .myinfoedit {
  width: 500px;
  font-size: 15px;
  margin: 50px auto;/*위 우 아래 좌*/
}

.bt_wrap{
  display : flex;
  justify-content: space-around;
  margin: 40px auto;
  width: 500px;
}

#editUser {
  background-color: #0020ff;
  border: 1px solid #0020ff;
  border-radius: 8px;
  color: #FAEBCD;
  padding: 10px 35px;
  width:220px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  font-weight: bolder;
  font-size: 19px;
}

#editUser:hover {
  background-color: #c1c5ff;
  border: 1px solid #c1c5ff;
  color: #444444;
  font-weight: bolder;
  font-size: 19px;
}

#pwUpdate {
  background-color: #0020ff;
  border: 1px solid #0020ff;
  border-radius: 8px;
  color: #FAEBCD;
  padding: 10px 35px;
  width:220px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  font-weight: bolder;
  font-size: 19px;
}

#pwUpdate:hover {
  background-color: #c1c5ff;
  border: 1px solid #c1c5ff;
  color: #444444;
  font-weight: bolder;
  font-size: 19px;
}

.id {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 15px;
}

.id>p {
  flex : 2;
}

.id input {
  border: 3px solid #828282;
  border-radius: 8px;
  height: 40px;
  padding: 5px 10px;
  flex : 7;
  font-size: 20px;
}

.btn {
  display : flex;
  justify-content: space-around;
  margin: 40px auto;
}

.btn button {
  background-color: #0020ff;
  border: 1px solid #0020ff;
  border-radius: 8px;
  color: #FAEBCD;
  padding: 10px 35px;
  width: 500px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  font-weight: bolder;
  font-size: 19px;
}

.btn button:hover {
  background-color: #c1c5ff;
  border: 1px solid #c1c5ff;
  color: #444444;
  font-weight: bolder;
  font-size: 19px;
}

input[disabled] {
  background-color: #eee;
}

.failure-message, .duplicate-message, .success-message {
  display: none;
  text-align: center;
}

.failure-message, .duplicate-message {
  font-size : 14px;
  color: #FF0000;
}

.success-message {
  font-size : 14px;
  color: #0020ff;
}