<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}" />
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin />
<link
		th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/mypage-check-board.css}" />
<link rel="stylesheet" th:href="@{/css/nav.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />

<script th:src="@{https://kit.fontawesome.com/7aca531ae5.js}"
	crossorigin="anonymous"></script>
<script th:src="@{https://kit.fontawesome.com/83aa94ddcc.js}"
	crossorigin="anonymous"></script>
<script th:src="@{/js/navbar.js}" defer></script>

<title>커뮤니티</title>
</head>
<body>
	<div
		style="display: flex; flex-direction: column; min-height: 100vh; min-width: 1750px;">
		<th:block th:insert="~{header :: header}">Header</th:block>
		<!--! 사이드바 -->
		<div style="flex: 1 1 0%">
			<div style="margin-top: 25px; display: flex; justify-content: center">
				<section style="position: relative">
					<div class="main-wrapper">
						<div class="board_wrap">
							<div class="board-title-searchbar-wrapper">
								<div class="board_title">
									<strong>회원 정보 변경</strong>
								</div>

							</div>
							<div class="board_list_wrap">
								<div class="board_list">
									<div class="top">
										<div class="num1">
											<a href="/mypage">회원 정보</a>
										</div>
										<div style="color: #D5D5D5" class="num2">
											<a href="/mypage/myinfowrite">작성 글</a>
										</div>
										<div style="color: #D5D5D5" class="num3">
											<a href="/mypage/myinforeply">작성 댓글</a>
										</div>

									</div>
									<div>
									<form method="post" action="/mypage/editProcess">
										<div></div>
										<div class="id">
											아이디<br> <input type="text" name="memId" id="memId" th:value="${user.memId}" disabled>
										</div>
										<div class="id">
											이름<br> <input type="text" name="name" id="name" th:value="${user.name}">
										</div>
										<div class="id">
											닉네임<br> <input type="text" name="nick" id="nick" th:value="${user.nick}">
										</div>
										<div class="id">
											이메일<br> <input type="text" name="email" id="email" th:value="${user.email}">
										</div>
										<div class="btn">
											<button type="submit">확인</button>
										</div>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<aside id="sub-menu"
						style="position: absolute; top: 295px; left: -180px; margin: 0">
						<h3>회원 정보</h3>
						<h4>
							<a href="/mypage/myinfoedit">회원 정보 변경</a>
						</h4>
						<h4>
							<a href="/mypage/pwchange">비밀번호 변경</a>
						</h4>
						<h4>
							<a href="mypage-leave.html">회원 탈퇴</a>
						</h4>

					</aside>
				</section>
			</div>
		</div>

		<footer>
			<div class="container_footer">
				<div class="logo_line">
					<span class="logo2"> <img src="./img/logo-img2.png" />
					</span>
				</div>

				<div class="menu_line">
					<ul class="menus">
						<span>Menu</span>
						<li><a href="notice-board.html">공지사항</a></li>
						<li><a href="local-information-board.html">국내여행</a></li>
						<li><a href="world-information-board.html">해외여행</a></li>
						<li><a href="free-board.html">커뮤니티</a></li>
					</ul>
				</div>

				<div class="address_line">
					<ul class="address">
						<span>Contact</span>
						<li>
							<p>대표번호 : 010-1234-5678</p>
						</li>
						<li>
							<p>팩스 : 070-2345-6789</p>
						</li>
						<li>
							<p>이메일 : info@tripon.com</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="copyright">
				<p>Copyright © TRIPON Inc. All Rights Reserved.</p>
			</div>
		</footer>
	</div>
</body>
</html>
