<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" >
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap}">
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script th:src="@{https://kit.fontawesome.com/7aca531ae5.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://kit.fontawesome.com/83aa94ddcc.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/editPw.js}"></script>

    <title>Join</title>
</head>
<body>
<div class="main-wrapper">
    <div class="body">
        <div class="logo">
            <a href="/main">
                <img th:src="@{/img/logo-img2.png}">
            </a>
        </div>

        <div class="text">비밀번호 변경</div>
        <form id="editPw" method="post" action="/mypage/pwchangeProcess">
            <div class="id">
                현재 비밀번호<br> <input type="password" id="pw" name="pw" placeholder=" 현재 비밀번호">
            </div>
            <div class="pw">
                변경할 비밀번호<br> <input type="password" id="changePw" name="changePw" placeholder=" 변경할 비밀번호">
            </div>
            <div class="failure-message" id="faPw">8~14자 이내의 영문, 숫자, 특수문자가 포함되어야 사용 가능합니다.</div>
            <div class="success-message" id="suPw">사용가능한 비밀번호입니다.</div>
            <div class="duplicate-message" id="duPw">사용불가능한 비밀번호입니다.</div>
            <div class="checkpw">
                변경할 비밀번호 확인<br> <input type="password" id="checkPw" name="checkPw" placeholder=" 변경할 비밀번호 확인">
            </div>
            <div class="failure-message" id="faPwCheck">비밀번호가 일치하지 않습니다.</div>
            <div class="success-message" id="suPwCheck">비밀번호가 일치합니다.</div>
            <div class="btn">
                <button type="submit">변경</button>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="container_footer">
        <div class="logo_line">
				<span class="logo2"> <img src="./img/logo-img2.png"/>
				</span>
        </div>

        <div class="menu_line">
            <ul class="menus">
                <span>Menu</span>
                <li><a href="notice-board.html">공지사항</a></li>
                <li><a href="local-information-board.html">국내여행</a></li>
                <li><a href="world-information-board.html">해외여행</a></li>
                <li><a href="free-board.html">커뮤니티</a></li>
            </ul>
        </div>

        <div class="address_line">
            <ul class="address">
                <span>Contact</span>
                <li>
                    <p>대표번호 : 010-1234-5678</p>
                </li>
                <li>
                    <p>팩스 : 070-2345-6789</p>
                </li>
                <li>
                    <p>이메일 : info@tripon.com</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright © TRIPON Inc. All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>