<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/join.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/navbar.js}" defer></script>
<script th:src="@{/js/Verification.js}"></script>
<title>Join</title>
<script th:src="@{https://kit.fontawesome.com/7aca531ae5.js}"
	crossorigin="anonymous">
</script>
<!-- <script src="join.js"></script>
    적용시 유효성검사 오류 -->
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link
		th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap}"
	rel="stylesheet">
</head>
<body>
	<div class="main-wrapper">
		<div class="body">
			<div class="logo">
				<a href="main.html"><img th:src="@{/img/logo-img2.png}"></a>
			</div>

			<div class="text">환영합니다</div>

			<form id="formSignup" method="post" action="/sign/signupProcess">
				<div class="id">
					아이디<br> <input type="text" id="memId" name="memId" placeholder=" ID">
				</div>
				<div class="failure-message" id="faId">4~11자 이내의 영문, 숫자만 사용 가능합니다.</div>
				<div class="duplicate-message" id="duId">이미 존재하는 아이디입니다.</div>
				<div class="success-message" id="suId">사용가능한 아이디입니다.</div>
				<div class="pw">
					비밀번호<br> <input type="password" id="pw" name="pw" placeholder=" 비밀번호">
				</div>
				<div class="failure-message" id="faPw">8~14자 이내의 영문, 숫자, 특수문자가 포함되어야 사용 가능합니다.</div>
				<div class="success-message" id="suPw">사용가능한 비밀번호입니다.</div>
				<div class="checkpw">
					비밀번호 확인<br> <input type="password" id="checkPw" placeholder=" 비밀번호 확인">
				</div>
				<div class="failure-message" id="faPwCheck">비밀번호가 일치하지 않습니다.</div>
				<div class="success-message" id="suPwCheck">비밀번호가 일치합니다.</div>
				<div class="name">
					이름<br> <input type="text" name="name" placeholder=" 이름">
				</div>
				<div class="nickname">
					닉네임<br> <input type="text" id="nick" name="nick" placeholder=" 활동하실 닉네임을 알려주세요!">
				</div>
				<div class="failure-message" id="faNick">2~11자 이내의 영문, 한글, 숫자만 사용 가능합니다.</div>
				<div class="duplicate-message" id="duNick">이미 존재하는 닉네임입니다.</div>
				<div class="success-message" id="suNick">사용가능한 닉네임입니다.</div>
				<div class="email">
					이메일<br> <input type="text" id="email" name="email" placeholder=" 이메일">
				</div>
				<div class="btn">
					<button type="submit">회원가입</button>
				</div>
			</form>
		</div>
	</div>

	<footer>
		<div class="container_footer">
			<div class="logo_line">
				<span class="logo2"> <img src="./img/logo-img2.png" />
				</span>
			</div>

			<div class="menu_line">
				<ul class="menus">
					<span>Menu</span>
					<li><a href="notice-board.html">공지사항</a></li>
					<li><a href="local-information-board.html">국내여행</a></li>
					<li><a href="world-information-board.html">해외여행</a></li>
					<li><a href="free-board.html">커뮤니티</a></li>
				</ul>
			</div>

			<div class="address_line">
				<ul class="address">
					<span>Contact</span>
					<li>
						<p>대표번호 : 010-1234-5678</p>
					</li>
					<li>
						<p>팩스 : 070-2345-6789</p>
					</li>
					<li>
						<p>이메일 : info@tripon.com</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="copyright">
			<p>Copyright © TRIPON Inc. All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>