<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
    <!-- 회원 정보 조회 -->
    <select id="getUser" parameterType="String" resultType="memberDto">
        SELECT * FROM member WHERE memId=#{memId};
    </select>

    <!-- 회원 정보 수정 -->
    <update id="infoUpdate" parameterType="memberDto">
        UPDATE member SET name=#{name}, nick=#{nick}, email=#{email} WHERE memId=#{memId};
    </update>

    <!-- 비밀번호 변경 -->
    <update id="pwUpdate" parameterType="member">
        UPDATE member SET pw=#{pw} WHERE memId=#{memId};
    </update>

    <!-- 작성된 게시글 목록 조회 -->
    <select id="getMyList" parameterType="map" resultType="boardDTO">
        SELECT * FROM board WHERE memId=#{memId}
        ORDER BY boardId DESC
            LIMIT #{startIndex}, #{pageSize};
    </select>

    <!-- 작성된 게시글 수 조회 -->
    <select id="getMyListCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM board WHERE memId=#{memId};
    </select>

    <!-- memId를 이용하여 nick 조회 -->
    <select id="getNick" parameterType="String" resultType="String">
        SELECT nick FROM member WHERE memId=#{memId};
    </select>

    <!-- 작성된 댓글 목록 조회 -->
    <select id="getMyReply" parameterType="map" resultType="commentDto">
        SELECT * FROM boardcomment WHERE nick=#{nick}
        ORDER BY bcId DESC
            LIMIT #{startIndex}, #{pageSize};
    </select>

    <!-- 작성된 댓글 수 조회 -->
    <select id="getMyReplyCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM boardcomment WHERE nick=#{nick};
    </select>
</mapper>